.white{
background-color:white;color:black;
}

.green{
background-color:green;color:black;
}

button:hover {
  background-color: yellow;
}

body {
font-family:Arial,sans-serif;
}

.center{
text-align: center;
}

.divider, img{
width:100%;
}

.gray{
color:#363636;
}